[Desktop Entry]
Type=Application
Name=Weather Station
Exec=chromium-browser --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble http://localhost:5000
X-GNOME-Autostart-enabled=true
