[Unit]
Description=Weather Station Flask Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=__DIR__
ExecStart=/usr/bin/python3 __DIR__/server.py
Restart=always
RestartSec=5
User=__USER__

[Install]
WantedBy=multi-user.target
